body {background-color: #fff;
font-family: Arial, Helvetica, sans-serif;
border-top: 15px solid #424242;
margin: 0 auto;
}
main { margin: 0 auto;
    width: 800px;
} 
.details{display: flex;}
img {
    width: 100%;
}